* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  justify-content: space-between;
  background-color: #001f54;
}

.header .social-links{
    display: flex;
    gap:1rem;
}
