*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar{
   padding-inline: 3rem;
   padding-block: 1rem;
   background-color: rgb(244, 243, 243);
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.search-input{
    outline: none;
    border: 1px solid grey ;
    padding: 10px;
    width: 20rem;
    height: 2rem;
}

.cart{
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    margin-top: -2rem;
    margin-left: -0.5rem;
}

.categories{
    border: none;
    outline: none;
    padding: 0.2rem;
    border: 1px solid grey;
}

.search-btn{
    width: 2rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#001f54;
}

.nav-items{
    background-color: #001f54;
}

.nav-items ul{
    display: flex;
    gap: 5rem;
    font-size: 20px;
    padding-block: 1rem;
    font-weight: 600;
    padding-inline: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-items ul .category{
    background-color: #001f54;
    color: white;
    border: none;
    outline: none;
}

