* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.search div {
  background: white;
  border: 1px solid #a69d9d;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search img {
  width: 20rem;
  height: 20rem;
}

.search h3{
    width: 18rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
